<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img src="assets/drapeau.jpg" style="height: 100vw;">
  <h1>MaliTourist</h1>  
  <div class="login-section ion-padding">
    <div class="heading">
      <p>Connectez-vous pour continuer !</p>
    </div>
    <div class="formulaire-login">
      <div class="formulaire-input">
        <ion-item>
          <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
          <ion-input type="email" placeholder="Votre email"></ion-input>
        </ion-item>
      </div>
      <div class="formulaire-input">
        <ion-item>
          <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="bouton-action ion-padding">
      <ion-button expand="block" class="bouton-login" routerLink="/home">Se connecter</ion-button>
      <p>Mot de passe oublier ?</p>
      <ion-button expand="block" class="bouton-signup" fill="outline" routerLink="/signup">S'inscrire</ion-button>
    </div>
  </div>  
</ion-content>
